<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>
<form th:action="@{/users/register}" method="post">
    <input type="text" name="username" placeholder="아이디" required/><br/>
    <input type="password" name="password" placeholder="비밀번호" required/><br/>
    <input type="text" name="name" placeholder="이름" required/><br/>
    <input type="email" name="email" placeholder="이메일" required/><br/>
    <input type="text" name="phone" placeholder="연락처"/><br/>
    <input type="text" name="address" placeholder="주소"/><br/>
    <button type="submit">가입하기</button>
</form>
</body>
</html>