<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>장바구니</title>
</head>
<body>
<h1>장바구니</h1>
<table>
    <thead>
    <tr>
        <th>책 이름</th>
        <th>수량</th>
        <th>가격</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cartItems}">
        <td th:text="${item.book.name}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.book.price * item.quantity}"></td>
        <td>
            <form th:action="@{'/carts/user/' + ${item.id}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a href="/orders/user">주문하기</a>
</body>
</html>