<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>상품 목록</title>
</head>
<body>
<h1>상품 목록</h1>
<table>
    <thead>
    <tr>
        <th>이름</th>
        <th>저자</th>
        <th>출판사</th>
        <th>가격</th>
        <th>상세보기</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.name}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.publisher}"></td>
        <td th:text="${book.price}"></td>
        <td><a th:href="@{'/books/user/' + ${book.id}}">상세</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>